@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
    font-family: 'Helvetica-Thin';
    src: url(fonts/Helvetica-Thin.woff);
    font-style: normal;
    font-weight: 300;
}

body {
    margin-top: 20%;
    transform: scale(1.35);
    height: 100%;
    background: linear-gradient(90deg, wheat 21px, transparent 1%) center, linear-gradient(wheat 21px, transparent 1%) center, #a799cc;
    background-size: 23px 23px;
}

.title {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 5em;
    line-height: 0px;
    margin-bottom: 0.5em;
}

.projects {
    font-family: 'Helvetica-Thin';
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

form {
    font-family: 'Helvetica-Thin';
    padding-inline-start: 0px;
    list-style: none;
    text-align: center;
    font-size: 2em;
    color: white;
}

button {
    font-family: 'Helvetica-Thin', Arial;
    font-size: 0.7em;
    color: white;
    background-color: #222;
    border: none;
    width: 20em;
    padding: 0.3em 0;
    text-decoration: none;
    display: inline-block;
}

li {
    margin-bottom: 0.5em;
    
}


button:hover {
    background-color: #544D4C;
}